<% if (site.tags.length){ %>
<div class="widget tag">
  <h3 class="title"><%= __('tags') %></h3>
  <div class="entry">
    <% site.tags.sort('name').each(function(item){ %>
      <span><a href="<%- config.root %><%- item.path %>"><%= item.name %><small><%= item.posts.length %></small></a></span>
    <% }); %>
  </div>
</div>
<% } %>